@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #E5E5E5;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 1px 1px 10px black;
  background-color: #FFFFFF;
}

.inner-container {
  margin: 0 auto;
  width: 1057px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.logo {
  display: block;
  z-index: 1;
  position: absolute;
}



.main-header-logo-link {
  width: 139px;
  margin-right: 30px;

  /* text-align: center; */
}


.navigation {
  display: flex;

  padding: 0 70px;
}

.navigation-list {
  width: 520px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* padding: 20px 17px; */
}

.navigation-user {
  align-items: center;
}

.navigation-user li:last-child {
  width: 160px;
}

.navigation-user .navigation-link.button-navigation {
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.navigation-item {
  /* margin-right: 34px; */
  background-position: center;
}

.navigation-link {
  padding: 20px 17px;
  display: block;
}


.navigation-user {
  max-width: 294px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  /* min-height: 26px; */
  min-width: 42px;
  padding: 23px 12px;
}

.navigation-list,
.advantages-list {
  list-style-type: none;

}


.navigation-user li:nth-child(1) .navigation-link {
  background-image: url('../images/header/search.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user li:nth-child(2) .navigation-link {
  background-image: url('../images/header/favorite.svg');
  background-repeat: no-repeat;
  background-position: center;
}



.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
}



.main-container {
  flex-grow: 1;
}

/* Стилизация catalog.html */
.inner-header {
  background-image: url('../images/catalog/catalog-background.jpg');
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  line-height: 21px;
  display: block;
  padding: 35px 70px 70px;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
}

.breadcrumbs-item {
  margin-right: 25px;


}


.breadcrumbs-link {
  text-decoration: none;

}

.breadcrumbs-item:first-child {
  position: relative;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

/* .breadcrumbs .breadcrumbs-item:first-child .breadcrumbs-link {
  background-image: url('../images/catalog/house-breadcrumbs.svg');
  background-repeat: no-repeat;
  background-position: center;

} */

.catalog-filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.catalog-filter-group {
  display: flex;
  margin-right: 77px;
  flex-direction: column;
  border: none;
  padding: 0;
}

.catalog-filter-group:nth-of-type(2) {
  display: flex;
  margin-right: 177px;
  flex-direction: column;
  border: none;
  padding: 0;
}

.catalog-filter-group:nth-of-type(3) {
  border: none;
  margin-right: 77px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}

.catalog-filter-group:nth-of-type(3) .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-group:nth-of-type(3) .catalog-filter-list {
  margin-bottom: 20px;
  display: flex;
  width: 287px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.button-apply {
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 14px 15px;
}

.button-reset {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  background: none;
  border: none;
  color: #FFFFFF;
}

.main-inner-product-page {
  font-size: 18px;
  line-height: 21px;
  margin-top: 5px;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1057px;
  margin-top: 50px;
  margin-bottom: 56px;
  align-items: center;
}

.main-inner-product-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin: 0;
  margin-right: 191px;
}

.select-control {
  width: 290px;
  align-self: stretch;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.product-page-view-list {
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.product-page-view-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  position: relative;
}

.product-page-view-item:last-child {
  margin-right: 0;
}

.product-list-container {
  width: 1057px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
  list-style-type: none;
  /* justify-content: start; */
  /* flex-wrap: wrap; */
}

.product-card-item {
  width: 340px;
  padding: 20px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  justify-self: start;
  row-gap: 16px;
  align-self: baseline;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  grid-column: 1/-1;
}

.product-card-image {
  display: block;
}

.product-card-list {
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  column-gap: 20px;
}

.product-card-name {
  grid-column: 1/ span 1;
}

.product-card-price {
  grid-column: 2/ span 1;
  margin: 0;
}



.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;

}

.card-button-about,
.card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 9px 15px 8px;

}

.card-button-favorites {
  padding: 9px;
}

.button.card-button-favorites-add {
  padding: 9px;
}


.card-button-about {
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.card-button-favorites {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
}

.card-button-favorites-add {
  background-color: #7DB54F;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 9px 15px 8px;
}

.rating-field {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
}

.product-card-stars-list .product-star {
  background-image: url('../images/catalog/star.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  display: inline-block;
}

.product-card-stars-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.product-card-stars-item {
  margin-right: 6px;
}

.product-page-view-list li:nth-child(1) .button-view {
  background-image: url('../images/catalog/icon-table.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.product-page-view-list li:nth-child(2) .button-view {
  background-image: url('../images/catalog/icon-slideshow.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.product-page-view-list li:nth-child(3) .button-view {
  background-image: url('../images/catalog/icon-list.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.pagiantion-container {
  width: 1057px;
  margin: 0 auto;
}

.pagination-inner-container {
  display: flex;
  justify-content: space-between;
}

.pagination-list {
  display: flex;
  /* justify-content: space-between; */
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-item {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  width: 60px;
  text-align: center;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.select-pages-container {
  width: 386px;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}



.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  padding: 12px 24px;

}

.pagination-link.pagination-last {
  padding: 12px 18px;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.select-pages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.main-picture {
  background-image: url('../images/index/index-background.jpg');
  background-color: #000000;
  background-size: 100% auto;
  width: 1200px;
  background-repeat: no-repeat;
  padding: 51px 371px 82px;
  box-sizing: border-box;
  /* text-align: center; */
}

.main-picture-slogan {
  display: block;
  margin: 0 auto;
}

.introduction {
  width: 1200px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.introduction-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  /* margin: 0 auto; */
  margin-bottom: 31px;
}

.introduction-description-reasons {
  color: #333333;
  padding: 0;
  margin: 0 auto;

}

.first-container {
  margin: 0;
  padding: 0;
}

.first-reason-block {
  display: flex;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.first-container-pic {
  width: 800px;

}

.first-reason-pic {
  vertical-align: middle;
}

.reason {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reason-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.reason-number {
  font-size: 18px;
  line-height: 21px;
}

.reason-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}



.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: stretch;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}


.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 80px 85px;
}

.advantages-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.second-reason-block {
  display: flex;
  align-items: stretch;

}

.second-container-pic {
  width: 800px;
}

.other-reasons-pic {
  vertical-align: middle;
}

.second-container .advantages-list .reason {
  background-color: rgba(131, 179, 211, 0.12);
}

.second-container .advantages-list .reason:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.additional-reasons {
  width: 400px;
  padding: 103px 85px;
}

.additional-item-title,
.additional-item-number {
  color: #000000;
}

.additional-item-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  text-align: center;
  padding-bottom: 93px;
}

.search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 91px;
  margin-bottom: 29px;
}

.search-hotel-description {
  color: #333333;
  margin-bottom: 56px;
}


.button-search-hotel {
  border: none;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 574px;
  margin: 0 auto;
  padding: 12px 15px;
}

.subscribe {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-container {
  width: 1057px;
  margin: 0 auto;
}

.subscribe-with-picture {
  background-image: url('../images/index/index-email-background.jpg');

  background-size: cover;
  background-repeat: no-repeat;


}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form-email {
  margin: 0;
  display: flex;
  justify-content: center;
}

.button-subscribe {
  color: #FFFFFF;
  background-color: #82B3D3;
  border-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  padding: 12px 15px;
  border: none;
}

.catalog-title {
  color: #000000;
}

.catalog-description {
  color: #333333;
}

.input-email {
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  padding: 20px 491px 19px 22px;
  border: none;
}

.page-footer {
  text-align: center;
  padding: 40px 70px 30px;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

.contacts-social-media {
  max-width: 190px;
  margin-right: 41px;

}

.contacts-user {
  width: 145px;
  margin: 0;
  padding: 0;
}

.contact-item {
  width: 48px;
  height: 40px;
}

/* .vk-link {
  background-image: url('../images/footer/vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.telegram-link {
  background-image: url('../images/footer/telegram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-link {
  background-image: url('../images/footer/youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
} */
.navigation-link.vk-link,
.navigation-link.telegram-link,
.navigation-link.youtube-link {
  position: relative;
}

.vk,
.telegram,
.youtube {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.contacts-phone {
  width: 720px;

}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.contacts-author-link {
  width: 115px;
  margin-left: auto;
}
