@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 1200px;
  background-color: #E5E5E5;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-container {
  margin: 0 auto;
  width: 1200px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  box-shadow: 1px 1px 10px black;
  background-color: #FFFFFF;
}

.inner-container {
  margin: 0 auto;
  width: 1057px;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.logo {
  display: block;
  z-index: 1;
  position: absolute;
}



.main-header-logo-link {
  width: 139px;
  margin-right: 30px;

  /* text-align: center; */
}


.navigation {
  display: flex;

  padding: 0 70px;
}

.navigation-list {
  width: 520px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  /* padding: 20px 17px; */
}

.navigation-user {
  align-items: center;
}

.navigation-user li:last-child {
  width: 160px;
}

.navigation-user .navigation-link.button-navigation {
  background-color: #756157;
  border-radius: 4px;
  color: #ffffff;
  padding: 9px 15px 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border: none;
  font-family: 'PT Sans';
  min-width: 160px;
  cursor: pointer;
}

.navigation-item-main-current {
  position: relative;
}

.navigation-link-main-current::before {
  content: '';
  position: absolute;
  background-color: #756257;
  height: 2px;
  top: 65px;
  bottom: 19px;
  left: 17px;
  right: 1px;
  width: 68px;
  z-index: 1;
}

.navigation-item-inner-current {
  position: relative;
}

.navigation-link-current::before {
  content: '';
  position: absolute;
  background-color: #756257;
  height: 2px;
  top: 65px;
  bottom: 19px;
  left: 17px;
  right: 1px;
  width: 93px;
}

.navigation-link:hover {
  color: #756157;
}

.navigation-link:focus {
  color: #756157;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link.button-navigation:hover {
  background-color: #615048;
}


.navigation-link.button-navigation:focus {
  background-color: #615048;
}

.navigation-link.button-navigation:disabled {
  background-color: #E5E5E5;
}

.navigation-link.button-navigation:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-search-hotel:hover {
  background-color: #615048;
}

.button-search-hotel:focus {
  background-color: #615048;
}

.button-search-hotel:disabled {
  background-color: #E5E5E5;
}

.button-search-hotel:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe:hover {
  background-color: #68A2CA;
}

.button-subscribe:focus {
  background: #68A2CA;
}

.button-subscribe:disabled {
  background: #E5E5E5;
}

.button-subscribe:active {
  background: #82B3D3;
}

.button-apply:hover {
  background-color: #68A2CA;
  cursor: pointer;
}

.button-apply:focus {
  background: #68A2CA;
}

.button-apply:disabled {
  background: #E5E5E5;
}

.button-apply:active {
  background: #82B3D3;
}

.card-button-favorites:hover {
  background-color: #68A2CA;
  cursor: pointer;

}

.card-button-favorites:focus {
  background: #68A2CA;
}

.card-button-favorites:disabled {
  background: #E5E5E5;
}

.card-button-favorites:active {
  background: #82B3D3;
}

.card-button-about:hover {
  background-color: #615048;
}

.card-button-about:focus {
  background-color: #615048;
}

.card-button-about:disabled {
  background-color: #E5E5E5;
}

.card-button-about:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.card-button-favorites-add:hover {
  background-color: #6C9E42;
  cursor: pointer;
}

.card-button-favorites-add:focus {
  background-color: #6C9E42;
}

.card-button-favorites-add:disabled {
  background-color: #E5E5E5;
}

.card-button-favorites-add:active {
  background-color: #7DB54F;
}

.navigation-item {
  /* margin-right: 34px; */
  background-position: center;
  box-sizing: border-box;
}

.navigation-link {
  padding: 20px 17px;
  display: block;
  box-sizing: border-box;
}



.navigation-user {
  max-width: 264px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  /* min-height: 26px; */
  min-width: 42px;
  padding: 23px 11px;
}

.navigation-list,
.advantages-list {
  list-style-type: none;

}

.navigation-user li:nth-child(2) .navigation-link {
  position: relative;

}

.loupe-icon {
  width: 18px;
  height: 18px;
  display: block;
}

.navigation-link:hover .loupe-icon {
  color: #756157;
}

.navigation-link:focus .loupe-icon {
  color: #756157;
}

.navigation-link:active .loupe-icon {
  color: rgba(117, 97, 87, 0.3);
}

.heart-icon {
  width: 18px;
  height: 17px;
  display: block;
}

.navigation-user-link::before {

  letter-spacing: -0.1em;
  top: calc(50% - 16px/2 - 9px);
  padding-bottom: 4px;
  padding-top: 2px;
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #7DB54F;
  content: "12";
  font-family: inherit;
  font-size: 10px;
  line-height: 13px;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 24px;
}


.navigation-link {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
}

.navigation-list.navigation-user .navigation-item:last-child {
  margin-left: auto;
}


.main-container {
  flex-grow: 1;
}

/* Стилизация catalog.html */
.inner-header {
  background-image: url('../images/catalog/catalog-background.jpg');
  background-color: #000000;
  color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 18px;
  line-height: 21px;
  display: block;
  padding: 35px 70px 70px;
}

.inner-header-container {
  width: 1060px;
  margin: 0 auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 10px;
}

.breadcrumbs {
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  margin-right: 40px;


}


/* .breadcrumbs-link {
  text-decoration: none;
  position: relative;

}
.breadcrumbs-item:first-child .breadcrumbs-link::after {
  content: url('../images/catalog/strelka.svg');
  position: absolute;
} */

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: url('../images/catalog/strelka.svg');
  position: absolute;

  width: 5px;
  height: 7px;
  top: -12px;
  left: 25px;
}

.breadcrumbs-item:not(:first-child):not(:last-child)::after {
  content: url('../images/catalog/strelka.svg');
  position: absolute;
  width: 5px;
  height: 7px;
  top: -1px;
  left: 83px;
}

.breadcrumbs-item:not(:first-child) {
  margin-right: 25px;
}

.breadcrumbs-icon {
  position: absolute;
  top: 0;
  right: 0;
  left: 2px;
  bottom: 0;
  margin: auto;
  color: #fff;
}

/* .breadcrumbs .breadcrumbs-item:first-child .breadcrumbs-link {
  background-image: url('../images/catalog/house-breadcrumbs.svg');
  background-repeat: no-repeat;
  background-position: center;

} */
.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #FFFFFF;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-icon:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-icon:focus {
  color: #FFFFFF;
}

.breadcrumbs-icon:active {
  color: rgba(255, 255, 255, 0.3);
}

.catalog-filter {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.catalog-filter-group {
  display: flex;
  margin-right: 65px;
  flex-direction: column;
  border: none;
  padding: 0;
}

.catalog-filter-group:nth-of-type(2) {
  display: flex;
  margin-right: 175px;
  flex-direction: column;
  border: none;
  padding: 0;
}

.catalog-filter-group:nth-of-type(3) {
  border: none;
  margin-right: 70px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
  margin-left: -1px;
  text-transform: capitalize;
}

.catalog-filter-group:nth-of-type(3) .catalog-filter-title {
  margin-bottom: 34px;
}

.catalog-filter-group:nth-of-type(3) .catalog-filter-list {
  margin-bottom: 27px;
  display: flex;
  width: 287px;
  height: 48px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}

.catalog-filter-range {
  margin: 0;
}

.range {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  max-width: 288px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #FFFFFF
}

.range-toggle {
  position: absolute;
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  cursor: grab;
  border: none;
}

.range-toggle:hover {
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:focus {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
  outline: 2px solid #83B3D3;
  cursor: grabbing;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.group-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
}

.button-apply {
  color: #FFFFFF;
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  margin-top: 59px;
  padding: 14px 15px;
  width: 160px;
  box-sizing: border-box;
}

.button-reset {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: none;
  background: none;
  border: none;
  color: #FFFFFF;
}

.button-reset:hover {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.6;
}

.button-reset:focus {
  cursor: pointer;
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:focus:active {
  cursor: pointer;
  color: #FFFFFF;
  opacity: 0.3;
  outline: none;
}

.main-inner-product-page {
  font-size: 18px;
  line-height: 21px;
  margin-top: 5px;
}

.sorting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  width: 1057px;
  margin-top: 53px;
  margin-bottom: 56px;
  align-items: center;
}

.main-inner-product-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  width: 338px;
  margin: 0;
  margin-right: 191px;
}

.select-control {
  width: 290px;
  align-self: stretch;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  font-size: 18px;
  color: #333333;
  background-color: #FFFFFF;
  padding: 14px 20px;
  box-sizing: border-box;
  appearance: none;
  background-image: url('../images/catalog/strekla_selector_black.svg');
  background-repeat: no-repeat;
  background-position: right 18px center;
  padding-right: 48px;
  font: inherit;
  cursor: pointer;
  padding-left: 17px;
}

.select-control:hover {
  outline: 2px solid #68A2CA;
}

.select-control:focus {
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
}

.select-control:disabled {
  outline: 2px solid rgba(0, 0, 0, 0.3);
}

.control-input-min,
.control-input-max {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  font: inherit;
  line-height: 21px;
  color: #FFFFFF;
  padding: 14px 19px;
  box-sizing: border-box;
  border: 2px solid #FFFFFF;
  border-radius: 4px;
  text-transform: none;
  background: none;
  width: 144px;
  height: 48px;
}

.control-input-min {
  /* border-right: none; */
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.control-input-max {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.control-input-min:hover,
.control-input-max:hover {
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}

.control-input-min:focus,
.control-input-max:focus {
  box-shadow: 0 0 0 3px #81B3D2;
}

.control-input-min:active,
.control-input-max:active {
  background-color: #756257;
}

.control-input-min:disabled,
.control-input-min:disabled:hover {
  background-color: #E5E5E5;
}

.control-input-max:disabled,
.control-input-max:disabled:hover {
  background-color: #E5E5E5;
}

.control-input-max:invalid,
.control-input-max:invalid {
  box-shadow: none;
}

.control-input-max:focus:invalid,
.control-input-max:focus:invalid {
  border-color: darkred;
}

.control-input:disabled,
.control-input:disabled:hover {
  background-color: #E5E5E5;
}

.control-input:invalid {
  box-shadow: none;
}

.control-input:focus:invalid {
  border-color: darkred;
}

.control-input-min::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.control-input-max::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
  opacity: 0.3;
}

.catalog-filter-group:first-of-type .control,
.catalog-filter-group:nth-of-type(2) .control {
  position: relative;
  display: block;
  padding-left: 37px;
}


.catalog-filter-group:first-of-type .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
  top: 0;
  left: 0;
}

.catalog-filter-group:nth-of-type(2) .control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  top: 0;
  left: 0;
}

.catalog-filter-group:first-of-type .control:hover .control-mark,
.catalog-filter-group:nth-child(2) .control:hover .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
}


.catalog-filter-group:first-of-type .control:hover {
  cursor: pointer;
}

.catalog-filter-group:first-of-type .control:focus-within .control-mark,
.catalog-filter-group:nth-child(2) .control:focus-within .control-mark {
  background-color: rgba(255, 255, 255, 0.6);
  outline: 3px solid #83B3D3;
}

.catalog-filter-group:first-of-type .control:active .control-mark,
.catalog-filter-group:nth-child(2) .control:active .control-mark {
  background-color: rgba(255, 255, 255, 0.3);
}

.catalog-filter-group:nth-of-type(2) .control:focus .control-mark {
  background-color: #FFFFFF;
  outline: 3px solid #83B3D3;
}

.catalog-filter-group:nth-of-type(2) .control:hover {
  cursor: pointer;
}

.control:disabled + .control-mark {
  border-color: green;
}

.control-input[type='checkbox']:checked + .control-mark::before {
  content: url('../images/catalog/galka.svg');
  position: absolute;
  background-repeat: no-repeat;
  bottom: 0;
  left: 4px;
  right: 0;
}

.control-input[type='radio']:checked + .control-mark::before {
  content: '';
  position: absolute;
  bottom: 25%;
  left: 25%;
  background-color: #3F5E72;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.product-page-view-list {
  width: 160px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.product-page-view-item {
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  position: relative;
  box-sizing: border-box;
}

.product-page-view-item:hover {
  border: 2px solid #000000;
}

.product-page-view-item:focus {
  border: 2px solid #68A2CA;
}

.product-page-view-item:active {
  border: 2px solid #000000;
}

.product-page-view-item:last-child {
  margin-right: 0;
}

.product-list-container {
  width: 1057px;
  margin: 0 auto;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  column-gap: 18px;
  margin: 0;
  padding: 0;
  margin-bottom: 96px;
  list-style-type: none;
  /* justify-content: start; */
  /* flex-wrap: wrap; */
}

.product-card-item {
  width: 340px;
  padding: 20px;
  column-gap: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  justify-self: start;
  row-gap: 16px;
  align-self: baseline;
  padding-top: 18px;
}

.product-card-link {
  text-decoration: none;
  color: inherit;
  grid-column: 1/-1;
}

.product-card-image {
  display: block;
}

.product-card-list {
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  display: grid;
  column-gap: 20px;
}

.product-card-name {
  grid-column: 1/ span 1;
}

.product-card-price {
  grid-column: 2/ span 1;
  margin: 0;
}



.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin: 0;
  margin-top: 16px;

}

.card-button-about,
.card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
  padding: 9px 15px 8px;

}

.card-button-favorites {
  padding: 9px;
}

.button.card-button-favorites-add {
  padding: 9px;
}


.card-button-about {
  background-color: #756157;
  border: none;
  border-radius: 4px;
}

.card-button-favorites {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.card-button-favorites-add {
  background-color: #7DB54F;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
  padding: 9px 15px 8px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.rating-field {
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  padding: 8px 22px;
}

.product-card-stars-list .product-star {
  background-image: url('../images/catalog/star.svg');
  background-repeat: no-repeat;
  width: 18px;
  height: 17px;
  display: inline-block;
}

.product-card-stars-list {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.product-card-stars-item {
  margin-right: 6px;
}

.product-page-view-list li:nth-child(1) .button-view {
  background-image: url('../images/catalog/icon-table.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: 16px 14px;
}

.product-page-view-list li:nth-child(2) .button-view {
  background-image: url('../images/catalog/icon-slideshow.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: 16px 14px;
}

.product-page-view-list li:nth-child(3) .button-view {
  background-image: url('../images/catalog/icon-list.svg');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-size: 16px 14px;
}

.pagiantion-container {
  width: 1057px;
  margin: 0 auto;
  position: relative;
}

.pagiantion-container::after {
  content: '';
  position: absolute;
  border-top: 1px solid #E6E6E6;
  top: -29px;
  left: 0;
  right: 0;
}

.pagination-inner-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1px;
}

/* .pagination-inner-container::after {
  content: '';
  height: 0px;
left: 94%;
right: -81.92%;
bottom: 115px;
border: 1px solid #E6E6E6;
transform: rotate(180deg);
} */

.pagination-list {
  display: flex;
  /* justify-content: space-between; */
  width: 400px;
  margin: 0;
  padding: 0;
  list-style-type: none;

}

.pagination-item {
  background-color: #82B3D3;
  border: none;
  border-radius: 4px;
  width: 60px;
  min-height: 60px;
  text-align: center;
  margin-right: 8px;
  position: relative;
}

/*.pagination-item:not(:first-of-type)*/
/* .pagination-item:hover .pagination-link {
  background-color: #68A2CA;
  border: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
} */
.pagination-link:not(.pagination-current):hover {
  background-color: #68A2CA;
  outline: 1px solid #82B3D3;
  border-radius: 4px;
  box-sizing: border-box;
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.pagination-item:last-child {
  margin-right: 0;
}

.select-pages-container {
  width: 386px;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;

}

.select-pages {
  display: block;
  margin: 0;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 160px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  box-sizing: border-box;
  color: #333333;
  margin-left: 51px;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 18px;
}

.select-pages:hover {
  cursor: pointer;
}


.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  display: block;
  /* padding: 12px 24px; */
  padding-top: 12px;
  padding-bottom: 12px;

}

.pagination-link.pagination-last {
  padding: 12px 18px;
}

.pagination-current {
  color: #000000;
  background-color: #E5E5E5;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.select-pages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  align-items: center;
  display: flex;
}

.select-pages-description:hover {
  cursor: pointer;
}

.main-picture {
  background-image: url('../images/index/index-background.jpg');
  background-color: #000000;
  background-size: 100% auto;
  width: 1200px;
  background-repeat: no-repeat;
  padding: 51px 371px 82px;
  box-sizing: border-box;
  position: relative;
  /* text-align: center; */
}

.main-picture-slogan {
  display: block;
  margin: 0 auto;
}

.decoration {
  position: absolute;
  background-image: url('../images/index/divider.svg');
  left: 0%;
  right: 0%;
  top: 1%;
  bottom: 0%;
  background-repeat: no-repeat;
  background-position: bottom;
}


.introduction {
  width: 1200px;
  text-align: center;
  padding-top: 63px;
  padding-bottom: 90px;
}

.introduction-description {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  /* margin: 0 auto; */
  margin-bottom: 31px;
}

.introduction-description-reasons {
  color: #333333;
  padding: 0;
  margin: 0 auto;

}

.first-container {
  margin: 0;
  padding: 0;
}

.first-reason-block {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;
  margin: 0;
}

.first-container-pic {
  width: 800px;

}

.first-reason-pic {
  vertical-align: middle;
  height: 100%;
  object-fit: fill;
}

.reason {
  background-color: #82B3D3;
  color: #FFFFFF;
  text-align: center;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reason-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 30px;
}

.reason-number {
  font-size: 18px;
  line-height: 21px;
}

.reason-description {
  font-size: 18px;
  line-height: 21px;
  margin: 0;
  margin-top: 30px;
}



.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: stretch;
  text-align: center;
}

.advantages-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 26px;
  margin-bottom: 30px;
}

.advantages-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin: 0;
}


.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 400px;
  padding: 80px 85px;
  box-sizing: border-box;
}

.advantages-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.second-reason-block {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

}

.second-container-pic {
  width: 800px;
}

.other-reasons-pic {
  vertical-align: middle;
  height: 100%;
  object-fit: fill;
}

.second-container .advantages-list .reason {
  background-color: rgba(131, 179, 211, 0.12);
}

.second-container .advantages-list .reason:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.additional-reasons {
  width: 400px;
  padding: 103px 85px;
  box-sizing: border-box;
}

.additional-item-title,
.additional-item-number {
  color: #000000;
}

.additional-item-description {
  color: #333333;
  font-size: 18px;
  line-height: 21px;
}

.search-hotel {
  text-align: center;
  padding-bottom: 93px;
}

.search-hotel-question {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  margin-top: 90px;
  margin-bottom: 29px;
}

.search-hotel-description {
  color: #333333;
  margin-bottom: 54px;
}


.button-search-hotel {
  border: none;
  background-color: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  display: block;
  width: 574px;
  margin: 0 auto;
  padding: 12px 15px;
  box-sizing: border-box;
  font-family: 'PT Sans';
}

.subscribe {
  text-align: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe.no-picture {
  text-align: center;
  padding-top: 119px;
  padding-bottom: 94px;
}

.subscribe-container {
  width: 1057px;
  margin: 0 auto;
}

.subscribe-with-picture {
  background-image: url('../images/index/index-email-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #E5E5E5;
  color: #000000;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 29px;
}

.subscribe-description {
  color: #FFFFFF;
  margin: 0;
  margin-bottom: 46px;
}

.subscribe-form-email {
  margin: 0;
  display: flex;
  justify-content: center;
}

.button-subscribe {
  min-width: 200px;
  color: #FFFFFF;
  background-color: #82B3D3;
  border-color: #82B3D3;
  border-radius: 0 10px 10px 0;
  text-transform: uppercase;
  padding: 12px 15px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.catalog-title {
  color: #000000;
}

.catalog-description {
  color: #333333;
}

.input-email {
  background: #F2F2F2;
  border-radius: 10px 0 0 10px;
  border: none;
  font: inherit;
  cursor: auto;
  padding-left: 22px;
  padding-top: 20px;
  padding-bottom: 19px;
  box-sizing: border-box;
  width: 600px;
  height: 60px;
}

.input-email:hover {
  opacity: 0.8;
}

.input-email:disabled {
  background-color: #E5E5E5;
}

.input-email::placeholder {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  opacity: 0.6;
}

.page-footer {
  text-align: center;
  padding: 41px 70px 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 1060px;
}

.contacts-social-media {
  max-width: 190px;
  margin-right: 41px;

}

.contacts-user {
  width: 145px;
  margin: 0;
  padding: 0;
}

.contact-item {
  width: 48px;
  height: 40px;
}

/* .vk-link {
  background-image: url('../images/footer/vk.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.telegram-link {
  background-image: url('../images/footer/telegram.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.youtube-link {
  background-image: url('../images/footer/youtube.svg');
  background-repeat: no-repeat;
  background-position: center;
} */
.navigation-link.vk-link,
.navigation-link.telegram-link,
.navigation-link.youtube-link {
  position: relative;
}

.vk,
.telegram,
.youtube {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.vk {
  fill: #83B3D3;
}

.navigation-link.vk-link:hover .vk {
  fill: #68A2CA;
}

.navigation-link.vk-link:focus .vk {
  fill: #68A2CA;
}

.navigation-link.vk-link:active .vk {
  fill: rgba(104, 162, 202, 0.3);
}

.telegram {
  fill: #83B3D3;
}

.navigation-link.telegram-link:hover .telegram {
  fill: #68A2CA;
}

.navigation-link.telegram-link:focus .telegram {
  fill: #68A2CA;
}

.navigation-link.telegram-link:active .telegram {
  fill: rgba(104, 162, 202, 0.3);
}

.youtube {
  fill: #83B3D3;
}

.navigation-link.youtube-link:hover .youtube {
  fill: #68A2CA;
}

.navigation-link.youtube-link:focus .youtube {
  fill: #68A2CA;
}

.navigation-link.youtube-link:active .youtube {
  fill: rgba(104, 162, 202, 0.3);
}


.contacts-phone {
  width: 720px;

}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
}

.phone:hover {
  color: #756157;
}

.phone:focus {
  color: #756157;
}

.phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.contacts-author-link {
  width: 115px;
  margin-left: auto;
}

.html-academy {
  fill: #000000;
}

.author-link:hover .html-academy {
  fill: #756157;
}

.author-link:focus .html-academy {
  fill: #756157;
}

.author-link:active .html-academy {
  fill: rgba(117, 97, 87, 0.3);
}

.modal-container {
  position: fixed;
  /* отображение поверх вью-порта */
  background: rgba(242, 242, 242, 0.8);
  top: 0;
  /* позиционирование */
  left: 0;
  /* позиционирование */
  width: 100%;
  /* растнянуть по ширине */
  height: 100%;
  /* растянуть по высоте */
  display: flex;

  z-index: 2;
}

.modal-container-close {
  display: none;
}

.modal {
  position: relative;
  margin: auto;
  /* центрирование */
  background: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 62px 70px 70px 70px;

}

.modal-search {
  width: 715px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  top: 54px;
  right: 70px;
  padding: 0;
  background-color: #F2F2F2;
  margin: 0;
  border: none;
  cursor: pointer;
  /* background-image: url('../images/index-modal/krestik.svg');
  background-position: center;
  background-repeat: no-repeat; */
}

.modal-close-icon {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: #000000;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  color: #E6E6E6;
}

.modal-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 63px;
  text-transform: uppercase;
  color: #000000;
}

.search-form {
  display: flex;
  flex-direction: column;
}

.field-form-label {
  display: flex;
  align-items: center;
}



.date,
.age {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-transform: capitalize;
}

.date {
  margin-right: 42px;

}

.date.date-leave {
  margin-right: 36px;
}



.form-input:placeholder-shown {
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px;
  padding: 15px 19px;
  width: 420px;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  height: 50px;
  opacity: 0.6;
}

.form-input:not(:placeholder-shown) {
  border: none;
  border-radius: 4px;
  padding: 15px 19px;
  width: 420px;
  box-sizing: border-box;
  height: 50px;
  background-image: url('../images/index-modal/date.svg');
  background-repeat: no-repeat;
  background-position: center right 19px;
  cursor: pointer;
  background-color: #FFFFFF;
  outline: 2px solid #000000;
  color: #000000;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.form-input:hover {
  background-color: #E6E6E6;
}

.form-input:focus {
  background: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.form-input:active {
  background: #FFFFFF;
  outline: 2px solid #000000;
}

.field-form-group {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  position: relative;

}

.group-container .field-form-group-people:first-child {
  margin-right: 56px;
  display: flex;
  align-items: center;
}

.group-container .field-form-group-people:nth-of-type(2) {
  margin-right: 43px;
  display: flex;
  align-items: center;
}

.less-button,
.more-button {
  width: 34px;
  border: none;
  cursor: pointer;
  height: 21px;
}


.less-button-icon,
.more-button-icon {
  fill: #000000;
  opacity: 0.3;
  cursor: pointer;
}

.less-button-icon {
  position: absolute;
  top: 50%;
  margin: auto;
  left: 19px;
  height: 13px;
  bottom: 50%;
}

.more-button-icon {
  position: absolute;
  top: 50%;
  margin: auto;
  right: 19px;
  width: 13px;
  height: 13px;
  bottom: 50%;
}

.less-button-icon:hover,
.more-button-icon:hover {
  fill: #000000;
  opacity: 1;
  cursor: pointer;
}

.less-button:focus,
.more-button:focus {
  fill: #000000;
  opacity: 1;
  cursor: pointer;
  outline: 3px solid #83B3D3;
}

.less-button-icon:active,
.more-button-icon:active {
  fill: #000000;
  opacity: 0.3;
  cursor: pointer;
}

/* .less-button {
  background-image: url('../images/index-modal/minus.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.more-button {
  background-image: url('../images/index-modal/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
  height: 13px;
} */

.choose-people.children {
  margin-left: 50px;
}

input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.button-calendar {
  position: absolute;
  right: 11px;
  width: 31px;
  height: 24px;
  background-color: none;
  background: none;
  cursor: pointer;
  background-image: url(../images/index-modal/date.svg);
  background-repeat: no-repeat;
  top: 13px;
  background-position: center right 8px;
  opacity: 0.6;
  border: none;
  background-size: 15px 15px;
  fill: #000000;
}

.button-calendar:hover {
  opacity: 1;
}

.button-calendar:hover .form-input:hover {
  background-color: #E6E6E6;
}

.button-calendar:focus {
  opacity: 1;
}

.button-calendar:active {
  opacity: 0.3;
  outline: none;
}

.search-button {
  background-color: #83B3D3;
  border-radius: 10px;
  padding: 12px 26px;
  border: none;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 40px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #68A2CA;
}

.search-button:focus {
  background-color: #68A2CA;
  outline: 3px solid #756257;
}

.search-button:focus:active {
  background-color: #68A2CA;
  opacity: 0.3;
  outline: none;
}

.amount-input,
.amount-input::placeholder {
  border: none;
  background-color: inherit;
  width: 44px;
  font: inherit;
  text-align: center;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.amount-input:hover {
  box-shadow: 1px 1px 10px black;
  transform: rotate(360deg) scale(1.1);
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.choose-people {
  background-color: #F2F2F2;
  border-radius: 4px;
  width: 133px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.adult-people {
  margin-left: 64px;
}

.group-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tooltip-toggle {
  background-color: #83B3D3;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
}

.tooltip-icon {
  width: 25px;
  height: 9px;
  display: block;
  color: #FFFFFF;
}

.tooltip-text {
  background-color: #333333;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 256px;
  padding: 15px 18px 18px 22px;
  color: #FFFFFF;
  position: absolute;
  top: 100%;
  margin-top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  box-sizing: border-box;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-transform: none;
}

.tooltip-text::after {
  content: '';
  background-image: url('../images/index-modal/triangle\ 1.svg');
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-top: -11px;
  margin-left: 7px;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.error {
  display: block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FF5757;
  margin: 0;
  margin-left: 155px;
  bottom: 322px;
  position: absolute;
}

.apply {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  margin: 0;
  margin-left: 155px;
  position: absolute;
  bottom: 232px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
  appearance: none;
  -moz-appearance: textfield;
}
